<configuration>
    <property name="appName" value="wechat" />
    <contextName>${appName}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AppLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${appName}.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AllLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>all.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="me.huachao" level="INFO" additivity="true">
        <appender-ref ref="AppLogFile"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="AllLogFile"/>
    </root>
</configuration>